
    * {
        box-sizing: border-box;
    }
    html,
    body {
        margin: 20px;
        padding: 10px;
    }
    .grid-container {
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .boots {
        font-size: 20px;
        padding: 15px;
    }

    .boots2 {
        font-size: 15px;
        padding: 15px;
        line-height: 20px;
    }

    .price{
        font-size: 35px;
        padding: 15px;
    }
    
    .img {
        margin-top: 1px;
        width: 342px;
    }

    .icon {
        position: relative;
        top: 10px; left: 100px;
        padding: 5px;
    }

    .container {
        font-family: Roboto;
        width: 346px; /* Ширина блока */
        padding: 0px; /* Поля */
        margin-top: 10px; /* Отступ сверху */
        box-sizing: border-box; /* Ширина блока с полями */
        border: 2px solid rgb(228, 225, 225); /* Рамка вокруг таблицы */
            color: black;
    }





   
   